<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>我的MongNanChat主页</title>
	<script type="text/javascript" src="../static/js/jquery.min.js"></script>
  <script src="https://cdn.bootcss.com/semantic-ui/2.2.10/semantic.min.js"></script>
  <script type="text/javascript" src="../static/js/index.js"></script>
  <link rel="stylesheet" href="../static/css/semantic.min.css">
  <link rel="stylesheet" href="../static/css/icon.min.css">
  <link rel="stylesheet" href="../static/css/index.css">
</head>
<body>
	<div class="main">
		
	</div>
</body>
</html>