<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>我的MongNanChat主页</title>
	<script type="text/javascript" src="../static/js/jquery.min.js"></script>
  <script src="https://cdn.bootcss.com/semantic-ui/2.2.10/semantic.min.js"></script>
  <script type="text/javascript" src="../static/js/index.js"></script>
  <link rel="stylesheet" href="../static/css/semantic.min.css">
  <link rel="stylesheet" href="../static/css/icon.min.css">
  <link rel="stylesheet" href="../static/css/index.css">
</head>
<body>
	<div class="main">
		<div class="ui grid">
			<div class="ui five wide column">
				<div class="ui primary inverted segment friendswrapper">
					<div class="banner">
					</div>
					<div class="friends">
						<div class="friendswindow">
							
						</div>
					</div>
					<div class="searchwrapper">
						<div class="ui icon input searchinput">
						  <input type="text" placeholder="搜索...">
						  <i class="search icon"></i>
						</div>
					</div>
				</div>
			</div>
			<div class="ui eleven wide column">
				<div class="ui piled segment chatwindow"></div>
			</div>
		</div>
	</div>
</body>
</html>